ul {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    width: 100%;
    background-color: #f1f1f2;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: blue;
    color: red;
}

p {
    background-color: bisque;
    border: 100px;
    display: inline-flex;
    text-align: justify;
    text-transform: uppercase;
    size: 50px;
}

#paragraph {
    border: 5px solid blue;
}